.Button {
  display: inline-flex;
  align-items: center;
  background-color: var(--color-accent);
  border-radius: 8px;
  padding: 8px 16px;
  margin: 8px 0;
  border: 0;
  font-size: 20px;
  cursor: pointer;
}

.Line {
  border: 1px solid var(--color-black);
  height: 75%;
  margin: 0 8px;
}

.Icon {
  font-size: 20px;
  color: var(--color-black);
}

@media (max-width: 768px) {
  .Icon {
    font-size: 32px;
  }
}
